In [31]:
import math

import pandas as pd
import numpy as np
import seaborn as sns 
from pydataset import data 
import matplotlib.pyplot as plt
import sklearn.preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from evaluate import plot_residuals, regression_errors, baseline_mean_errors, better_than_the_baseline
from wrangle import split_data

## Feature Engineering: Regression Exercises

#### Part I: Load the tips dataset

In [2]:
tips_df = data('tips')
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

##### Part I(a): Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [3]:
tips_df['tip_percentage'] = (tips_df.tip / tips_df.total_bill)
tips_df

     total_bill   tip     sex smoker   day    time  size  tip_percentage
1         16.99  1.01  Female     No   Sun  Dinner     2        0.059447
2         10.34  1.66    Male     No   Sun  Dinner     3        0.160542
3         21.01  3.50    Male     No   Sun  Dinner     3        0.166587
4         23.68  3.31    Male     No   Sun  Dinner     2        0.139780
5         24.59  3.61  Female     No   Sun  Dinner     4        0.146808
..          ...   ...     ...    ...   ...     ...   ...             ...
240       29.03  5.92    Male     No   Sat  Dinner     3        0.203927
241       27.18  2.00  Female    Yes   Sat  Dinner     2        0.073584
242       22.67  2.00    Male    Yes   Sat  Dinner     2        0.088222
243       17.82  1.75    Male     No   Sat  Dinner     2        0.098204
244       18.78  3.00  Female     No  Thur  Dinner     2        0.159744

[244 rows x 8 columns]

##### Part I(b): Create a column named price_per_person. This should be the total bill divided by the party size.

In [6]:
tips_df['price_per_person'] = tips_df.total_bill / tips_df['size']
tips_df.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

##### Part I(c): Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

 -The most important feature for calculating tip amount would be the total bill and tip percentage
 -For tip percentage I would say the most important features are going to be total_bill and tip amount.

##### Part I(d): Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?

In [11]:
train, validate, test = split_data(tips_df)
train.shape, validate.shape, test.shape

((136, 9), (59, 9), (49, 9))

In [12]:
train.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
19,16.97,3.50,Female,No,Sun,Dinner,3,0.206246,5.656667
173,7.25,5.15,Male,Yes,Sun,Dinner,2,0.710345,3.625000
119,12.43,1.80,Female,No,Thur,Lunch,2,0.144811,6.215000
29,21.70,4.30,Male,No,Sat,Dinner,2,0.198157,10.850000
238,32.83,1.17,Male,Yes,Sat,Dinner,2,0.035638,16.415000

In [13]:
cols = ['total_bill', 'size', 'tip_percentage', 'price_per_person']

X_train, y_train = train[cols], train.tip
X_validate, y_validate = validate[cols], validate.tip
X_test, y_test = test[cols], test.tip

In [15]:
def Min_Max_Scaler(X_train, X_validate, X_test):
    """
    Takes in X_train, X_validate and X_test dfs with numeric values only
    Returns scaler, X_train_scaled, X_validate_scaled, X_test_scaled dfs 
    """
    scaler = sklearn.preprocessing.MinMaxScaler().fit(X_train)
    X_train_scaled = pd.DataFrame(scaler.transform(X_train), index = X_train.index, columns = X_train.columns)
    X_validate_scaled = pd.DataFrame(scaler.transform(X_validate), index = X_validate.index, columns = X_validate.columns)
    X_test_scaled = pd.DataFrame(scaler.transform(X_test), index = X_test.index, columns = X_test.columns)
    
    return scaler, X_train_scaled, X_validate_scaled, X_test_scaled

In [18]:
Min_Max_Scaler(X_train, X_validate, X_test)

(MinMaxScaler(),
      total_bill  size  tip_percentage  price_per_person
 19     0.307114   0.4        0.252863          0.150344
 173    0.092355   0.2        1.000000          0.032258
 119    0.206805   0.2        0.161808          0.182796
 29     0.411622   0.2        0.240873          0.452194
 238    0.657534   0.2        0.000000          0.775647
 208    0.787892   0.6        0.061984          0.384336
 184    0.444101   0.6        0.362968          0.158239
 61     0.380468   0.2        0.181661          0.411218
 42     0.317941   0.2        0.162793          0.328974
 161    0.407203   0.6        0.188456          0.133973
 98     0.197967   0.2        0.131983          0.171171
 71     0.197746   0.2        0.190091          0.170881
 244    0.347106   0.2        0.183941          0.367335
 177    0.327441   0.2        0.112873          0.341471
 141    0.318162   0.2        0.244114          0.329265
 180    0.697304   0.2        0.099116          0.827957
 12     0.711224   0.6        0.157351          0.333915
 109    0.335175   0.2        0.252706          0.351642
 237    0.210561   0.2        0.064809          0.187736
 76     0.164384   0.2        0.123455          0.126998
 120    0.464207   0.6        0.126906          0.171462
 223    0.121741   0.0        0.278844          0.320256
 24     0.803137   0.6        0.232175          0.394362
 130    0.436368   0.4        0.088768          0.263683
 101    0.182943   0.2        0.273639          0.151409
 236    0.154662   0.2        0.131158          0.114211
 148    0.194432   0.2        0.150707          0.166521
 45     0.603844   0.6        0.220203          0.263296
 35     0.325011   0.2        0.219764          0.338274
 133    0.178966   0.2        0.146212          0.146178
 44     0.146045   0.2        0.149288          0.102877
 192    0.369863   0.2        0.260663          0.397268
 144    0.529828   1.0        0.221140          0.083600
 243    0.325895   0.2        0.092731          0.339436
 94     0.292753   0.2        0.337691          0.295844
 166    0.473928   0.4        0.157530          0.296619
 193    0.560539   0.2        0.080592          0.648067
 99     0.396376   0.2        0.158811          0.432142
 153    0.313522   0.4        0.182465          0.155962
 179    0.144278   0.2        0.564732          0.100552
 178    0.252099   0.2        0.151893          0.242371
 125    0.207910   0.2        0.246455          0.184249
 77     0.328104   0.2        0.201920          0.342342
 33     0.264914   0.2        0.242424          0.259227
 228    0.384004   0.6        0.164607          0.118715
 70     0.263809   0.2        0.153552          0.257774
 117    0.593460   0.6        0.198245          0.256466
 227    0.155104   0.2        0.240961          0.114792
 27     0.227574   0.2        0.168889          0.210113
 136    0.120194   0.2        0.164883          0.068875
 48     0.648034   0.6        0.221647          0.292357
 215    0.554574   0.4        0.289168          0.367335
 102    0.271984   0.2        0.236281          0.268527
 221    0.200840   0.2        0.215328          0.174949
 155    0.368979   0.6        0.097117          0.108835
 95     0.434821   0.2        0.158912          0.482709
 75     0.257623   0.2        0.168543          0.249637
 213    1.000000   0.6        0.223181          0.523830
 233    0.188688   0.2        0.379945          0.158965
 31     0.143173   0.2        0.172215          0.099099
 11     0.159081   0.2        0.193960          0.120023
 138    0.244808   0.2        0.156668          0.232781
 147    0.344012   0.4        0.055318          0.182699
 39     0.345117   0.4        0.130364          0.183668
 23     0.280601   0.2        0.156764          0.279861
 219    0.103182   0.2        0.222924          0.046498
 85     0.285241   0.2        0.135460          0.285963
 57     0.771984   0.6        0.064159          0.373874
 185    0.828104   0.2        0.056832          1.000000
 64     0.336279   0.6        0.251870          0.087329
 191    0.278833   0.2        0.088874          0.277536
 202    0.213654   0.2        0.181016          0.191805
 55     0.496907   0.6        0.198840          0.192967
 79     0.435042   0.2        0.142539          0.482999
 230    0.420901   0.2        0.140151          0.464400
 149    0.148255   0.2        0.209355          0.105783
 157    0.996465   1.0        0.101023          0.288191
 78     0.533142   0.6        0.165139          0.216797
 159    0.228016   0.2        0.236078          0.210695
 172    0.281485   0.2        0.243417          0.281023
 142    0.690013   1.0        0.236691          0.153831
 139    0.285683   0.2        0.132445          0.286545
 13     0.272868   0.2        0.098084          0.269689
 110    0.248343   0.2        0.361471          0.237431
 186    0.389306   0.8        0.305354          0.062075
 73     0.525630   0.2        0.120444          0.602151
 51     0.209236   0.2        0.242659          0.185992
 65     0.320813   0.4        0.169625          0.162356
 162    0.211887   0.2        0.239859          0.189480
 46     0.336279   0.2        0.190284          0.353095
 199    0.219399   0.2        0.175199          0.199361
 222    0.228679   0.2        0.331516          0.211566
 18     0.292090   0.4        0.284730          0.137169
 16     0.408970   0.2        0.216407          0.448707
 168    0.632788   0.6        0.157510          0.282331
 205    0.385771   0.6        0.235952          0.119878
 122    0.228679   0.2        0.132722          0.211566
 26     0.325674   0.6        0.141912          0.080355
 10     0.258727   0.2        0.271081          0.251090
 240    0.573575   0.4        0.249425          0.383997
 28     0.212550   0.2        0.180769          0.190352
 135    0.335616   0.2        0.210975          0.352223
 151    0.243040   0.2        0.210528          0.230456
 140    0.222934   0.2        0.256894          0.204010
 59     0.180513   0.2        0.179256          0.148213
 226    0.291648   0.2        0.174919          0.294391
 209    0.468405   0.2        0.071148          0.526882
 67     0.295625   0.2        0.169724          0.299622
 224    0.285241   0.4        0.225426          0.131163
 17     0.160407   0.4        0.186788          0.021699
 210    0.214096   0.2        0.206203          0.192386
 89     0.478126   0.2        0.298067          0.539669
 37     0.292532   0.4        0.128924          0.137557
 217    0.554132   0.8        0.105133          0.148794
 124    0.284578   0.2        0.133026          0.285092
 196    0.099205   0.2        0.229489          0.041267
 60     0.998674   0.6        0.153824          0.522958
 231    0.462660   0.6        0.070639          0.170445
 100    0.207468   0.2        0.125606          0.183668
 118    0.167477   0.2        0.155930          0.131067
 112    0.092355   0.0        0.151611          0.242953
 207    0.519664   0.4        0.137253          0.336724
 1      0.307556   0.2        0.035287          0.315315
 229    0.225586   0.2        0.250748          0.207498
 127    0.120415   0.2        0.204638          0.069166
 2      0.160627   0.4        0.185123          0.021893
 88     0.336058   0.2        0.271496          0.352804
 176    0.659081   0.2        0.087283          0.777681
 15     0.259832   0.2        0.249002          0.252543
 68     0.000000   0.0        0.429957          0.000000
 105    0.394388   0.2        0.236237          0.429526
 234    0.170128   0.2        0.149475          0.134554
 7      0.125939   0.2        0.285179          0.076431
 8      0.526072   0.6        0.119212          0.212148
 116    0.314627   0.2        0.246859          0.324615
 167    0.390853   0.2        0.107101          0.424876,
      total_bill  size  tip_percentage  price_per_person
 163    0.290323   0.4        0.130045          0.135619
 197    0.160627   0.2        0.233858          0.122058
 158    0.484534   0.6        0.169499          0.184830
 114    0.461335   0.2        0.104984          0.517582
 242    0.433053   0.2        0.077936          0.480384
 106    0.271542   0.2        0.105428          0.267945
 66     0.375829   0.4        0.179685          0.210598
 107    0.384887   0.2        0.240856          0.417030
 104    0.427530   0.2        0.177233          0.473118
 58     0.515687   0.2        0.031360          0.589073
 97     0.534909   0.2        0.164500          0.614356
 132    0.380027   0.2        0.154107          0.410636
 214    0.225365   0.2        0.226405          0.207207
 36     0.463765   0.4        0.168944          0.287707
 216    0.217190   0.2        0.073563          0.196455
 200    0.230667   0.2        0.166591          0.214182
 164    0.237296   0.2        0.161825          0.222900
 218    0.188246   0.2        0.138999          0.158384
 171    1.054795   0.4        0.238879          0.805967
 49     0.562970   0.4        0.053602          0.374697
 52     0.159523   0.2        0.321672          0.120604
 198    0.884666   0.6        0.119080          0.447980
 93     0.059213   0.2        0.204941         -0.011334
 47     0.423332   0.2        0.280541          0.467597
 156    0.591692   0.8        0.202393          0.168556
 14     0.339373   0.6        0.188437          0.089364
 204    0.294521   0.2        0.173114          0.298169
 190    0.442554   0.4        0.203825          0.269108
 212    0.504198   0.6        0.242574          0.197762
 30     0.366328   0.2        0.173459          0.392618
 203    0.219399   0.2        0.175199          0.199361
 195    0.298498   0.2        0.304749          0.303400
 239    0.723818   0.4        0.140357          0.515742
 69     0.379143   0.2        0.094440          0.409474
 111    0.241494   0.2        0.264778          0.228422
 3      0.396376   0.4        0.194083          0.228616
 50     0.330756   0.2        0.193653          0.345830
 154    0.474591   0.6        0.067923          0.178291
 169    0.166151   0.2        0.172508          0.129323
 126    0.590588   1.0        0.156070          0.110239
 189    0.333186   0.4        0.232989          0.173205
 84     0.654220   0.2        0.173943          0.771287
 241    0.532700   0.2        0.056240          0.611450
 40     0.623067   0.4        0.184168          0.427395
 87     0.220062   0.2        0.174674          0.200232
 181    0.697746   0.6        0.104589          0.325051
 9      0.264472   0.2        0.140329          0.258646
 56     0.362793   0.2        0.214099          0.387969
 206    0.296067   0.4        0.237846          0.140657
 225    0.228679   0.2        0.121677          0.211566
 182    0.447636   0.2        0.306117          0.499564
 103    0.910959   0.4        0.030821          0.679841
 165    0.319046   0.2        0.201113          0.330427
 74     0.490720   0.2        0.240322          0.556234
 175    0.303800   0.2        0.299647          0.310375
 4      0.455369   0.2        0.154352          0.509736
 150    0.098100   0.2        0.341887          0.039814
 86     0.701723   0.6        0.167179          0.327666
 41     0.286567   0.4        0.154160          0.132326,
      total_bill  size  tip_percentage  price_per_person
 113    0.773310   0.4        0.102906          0.559140
 20     0.388422   0.4        0.187621          0.221641
 188    0.605170   0.8        0.044496          0.175647
 170    0.167035   0.2        0.226037          0.130485
 32     0.337605   0.6        0.149104          0.088201
 220    0.598100   0.6        0.099130          0.259518
 90     0.399691   0.2        0.157311          0.436501
 82     0.300265   0.2        0.249654          0.305725
 91     0.572249   0.2        0.100662          0.663470
 25     0.370084   0.2        0.184978          0.397559
 54     0.151790   0.2        0.179787          0.110433
 131    0.353734   0.2        0.063699          0.376053
 232    0.278833   0.4        0.230569          0.125545
 123    0.247238   0.2        0.207019          0.235978
 43     0.240168   0.2        0.272524          0.226678
 92     0.429076   0.2        0.177835          0.475153
 137    0.160407   0.2        0.234135          0.121767
 81     0.361688   0.2        0.175903          0.386516
 183    0.934158   0.4        0.061567          0.700184
 21     0.328104   0.2        0.284628          0.342342
 115    0.500221   0.4        0.177771          0.319675
 194    0.274194   0.2        0.140584          0.271433
 121    0.190455   0.2        0.240055          0.161290
 160    0.296509   0.6        0.126940          0.061174
 134    0.203049   0.2        0.188962          0.177855
 72     0.309324   0.4        0.207659          0.152281
 143    0.842245   0.8        0.127093          0.300378
 53     0.701281   0.6        0.168583          0.327376
 80     0.314185   0.2        0.179485          0.324034
 62     0.237296   0.2        0.161825          0.222900
 174    0.635882   0.2        0.095160          0.747167
 129    0.183606   0.2        0.207659          0.152281
 211    0.596332   0.4        0.045791          0.403952
 38     0.306231   0.4        0.215941          0.149569
 34     0.389306   0.6        0.122685          0.122203
 146    0.116659   0.2        0.213430          0.064226
 128    0.252983   0.2        0.151329          0.243534
 6      0.490941   0.6        0.223210          0.189044
 5      0.475475   0.6        0.164767          0.178872
 152    0.222271   0.2        0.172942          0.203139
 201    0.345559   0.4        0.264043          0.184055
 235    0.275298   0.2        0.233489          0.272886
 22     0.380468   0.2        0.148059          0.411218
 145    0.295183   0.2        0.154659          0.299041
 96     0.819708   0.6        0.121699          0.405260
 108    0.489174   0.2        0.199394          0.554199
 63     0.175652   0.2        0.213478          0.141819
 187    0.393946   0.4        0.195383          0.226485
 83     0.154662   0.0        0.216523          0.406858)

In [40]:
f_selector = SelectKBest(score_func=f_regression, k=3)
f_selector.fit(X_train, y_train)

SelectKBest(k=3, score_func=<function f_regression at 0x7ffbf2f50550>)

In [41]:
mask = f_selector.get_support()
X_train.columns[mask]

Index(['total_bill', 'tip', 'price_per_person'], dtype='object')

 - The two most important features in selecting in predicting tip amount are total_bill and size

##### Part 1(e) Use all the other numeric features to predict tip percentage. Use select k best and recursive feature elimination to select the top 2 features. What are they?

In [25]:
tips_df.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

In [26]:
cols = ['total_bill', 'size', 'tip', 'price_per_person']

X_train, y_train = train[cols], train.tip_percentage
X_validate, y_validate = validate[cols], validate.tip_percentage
X_test, y_test = test[cols], test.tip_percentage

In [27]:
X_train.head()

     total_bill  size   tip  price_per_person
19        16.97     3  3.50          5.656667
173        7.25     2  5.15          3.625000
119       12.43     2  1.80          6.215000
29        21.70     2  4.30         10.850000
238       32.83     2  1.17         16.415000

In [28]:
y_train.head()

19     0.206246
173    0.710345
119    0.144811
29     0.198157
238    0.035638
Name: tip_percentage, dtype: float64

In [36]:
lm = LinearRegression()
rfe = RFE(estimator=lm, n_features_to_select = 3)
rfe.fit(X_train, y_train)

RFE(estimator=LinearRegression(), n_features_to_select=3)

In [37]:
rfe.support_

array([ True,  True,  True, False])

In [38]:
X_train.columns[rfe.support_]

Index(['total_bill', 'size', 'tip'], dtype='object')

 - The best features to predict the tip_percentage are total_bill and tip

##### Part I(f): Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

 - The way the algorithim sorts through the features. The k best method looks for the strongest correlation between the features and the target. Where as the Regression method actually looks for patterns and distance between features and target

#### Question 2: Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [42]:
def select_kbest(x, y, n):
    '''
    This function is a tool that uses the SelectKBest method to pull down 
    the best features to predict a target variable from the features 
    in a dataframe
    '''
    f_selector = SelectKBest(score_func=f_regression, k=n)
    f_selector.fit(x, y)
    
    mask = f_selector.get_support()
    return x.columns[mask]

In [43]:
select_kbest(X_train, y_train, 4)

Index(['total_bill', 'size', 'tip', 'price_per_person'], dtype='object')

#### Question 3: Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [44]:
def rfe(x, y, n):
    '''
    This function uses the recursive feature elimination method to predict
    the best features for predicting a target variable for a Regression model
    by taking in X_train and y_train and number of features wanted to select
    '''
    lm = LinearRegression()
    rfe = RFE(estimator=lm, n_features_to_select = n)
    rfe.fit(x, y)
    
    return x.columns[rfe.support_]

In [45]:
rfe(X_train, y_train, 3)

Index(['total_bill', 'size', 'tip'], dtype='object')

#### Question 4: Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [49]:
swiss_df = data('swiss')
swiss_df.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [59]:
train, validate, test = split_data(swiss_df)
train.shape, validate.shape, test.shape

((25, 6), (12, 6), (10, 6))

In [60]:
X_train, y_train = train.drop(columns = 'Fertility'), train.Fertility
X_validate, y_validate = validate.drop(columns = 'Fertility'), validate.Fertility
X_test, y_test = test.drop(columns = 'Fertility'), test.Fertility

In [61]:
Min_Max_Scaler(X_train, X_validate, X_test)

(MinMaxScaler(),
               Agriculture  Examination  Education  Catholic  Infant.Mortality
 Rolle            0.647561      0.40625   0.290323  0.054508          0.122449
 Lavaux           0.796341      0.50000   0.258065  0.004508          0.500000
 Nyone            0.526829      0.59375   0.354839  0.130533          0.163265
 Conthey          0.953659      0.00000   0.032258  0.997029          0.000000
 Yverdon          0.509756      0.37500   0.225806  0.037910          0.755102
 Oron             0.774390      0.28125   0.000000  0.000000          0.602041
 Cossonay         0.751220      0.59375   0.129032  0.004303          0.367347
 St Maurice       0.831707      0.18750   0.258065  0.990369          0.275510
 Franches-Mnt     0.390244      0.06250   0.129032  0.932377          0.520408
 Orbe             0.565854      0.53125   0.161290  0.018443          0.020408
 Sarine           0.457317      0.40625   0.387097  0.911680          0.948980
 La Chauxdfnd     0.000000      0.81250   0.322581  0.116701          0.551020
 Neuchatel        0.120732      1.00000   1.000000  0.148770          0.806122
 Monthey          0.697561      0.12500   0.064516  0.981762          0.520408
 Broye            0.762195      0.40625   0.193548  0.926742          0.867347
 Paysd'enhaut     0.680488      0.09375   0.064516  0.001639          0.295918
 Le Locle         0.109756      0.59375   0.387097  0.090369          0.387755
 Sion             0.675610      0.31250   0.387097  0.967520          0.306122
 Herens           1.000000      0.06250   0.032258  1.000000          0.326531
 Glane            0.732927      0.34375   0.225806  0.970902          1.000000
 Neuveville       0.436585      0.43750   0.451613  0.028279          0.561224
 Grandson         0.320732      0.43750   0.225806  0.009221          0.500000
 Vevey            0.232927      0.68750   0.580645  0.164549          0.591837
 Martigwy         0.859756      0.28125   0.161290  0.989344          0.438776
 Avenches         0.646341      0.50000   0.354839  0.020799          0.775510,
              Agriculture  Examination  Education  Catholic  Infant.Mortality
 Moudon          0.578049      0.34375   0.064516  0.021721          0.744898
 Echallens       0.791463      0.46875   0.032258  0.223361          0.622449
 Moutier         0.351220      0.28125   0.193548  0.321414          0.530612
 Morges          0.635366      0.59375   0.290323  0.028996          0.295918
 Sierre          0.937805      0.00000   0.064516  0.994467          0.122449
 Boudry          0.374390      0.71875   0.354839  0.032992          0.530612
 Payerne         0.614634      0.34375   0.225806  0.028996          0.887755
 Lausanne        0.142683      0.71875   0.870968  0.099488          0.520408
 Rive Gauche     0.243902      0.59375   0.903226  0.573053          0.428571
 Courtelary      0.113415      0.37500   0.354839  0.077459          0.724490
 Rive Droite     0.474390      0.40625   0.903226  0.492111          0.316327
 Aubonne         0.729268      0.34375   0.193548 -0.001332          0.408163,
               Agriculture  Examination  Education  Catholic  Infant.Mortality
 Gruyere          0.556098      0.28125   0.193548  0.976127          0.602041
 Aigle            0.662195      0.56250   0.354839  0.062705          0.142857
 V. De Geneve    -0.079268      1.06250   1.677419  0.409221          0.295918
 La Vallee        0.091463      0.87500   0.612903 -0.002561         -0.438776
 ValdeTravers     0.134146      0.68750   0.193548  0.064037          0.448980
 Entremont        0.941463      0.12500   0.161290  0.996721          0.479592
 Val de Ruz       0.364634      0.37500   0.193548  0.026332          0.500000
 Veveyse          0.692683      0.34375   0.161290  0.985758          0.959184
 Porrentruy       0.336585      0.18750   0.193548  0.903381          1.173469
 Delemont         0.456098      0.09375   0.258065  0.844672          0.724490)

In [62]:
select_kbest(X_train, y_train, 3)

Index(['Examination', 'Catholic', 'Infant.Mortality'], dtype='object')

In [63]:
rfe(X_train, y_train, 3)

Index(['Agriculture', 'Examination', 'Infant.Mortality'], dtype='object')